{{!-- Modal --}}
{{!-- 用於顯示目前subscription裏sensor的最近更新的數值 --}}
<div class="modal fade" id="dataDisplayModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!-- modal-content will append here -->
    </div>
  </div>
</div>

<script id="dataDisplayModal-temp" type="text/x-handlebars-template">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title"></h4>
  </div>
  <div class="modal-body">
    <table class="table mt-1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Current Value</th>
        </tr>
      </thead>
      <tbody>
        \{{#each sensor}}
          <tr>
            <td><b>\{{this.name}}</b></td>
            <td>
              \{{#if this.onConnect}}
                <b class="online">
                  online
                </b>
              \{{else}}
                <b class="offline">
                  offline
                </b>
              \{{/if}}
            </td>

            <td>
              \{{#if this.onConnect}}
                <b>\{{{this.value}}}</b>
              \{{else}}
              <span class="font-yellow ">
                <i class="icon-question-sign" style="font-size:18px"></i>
              </span>
              \{{/if}}
            </td>
          </tr>
        \{{/each}}
      </tbody>
    </table>
  </div>
</script>
