
<p class="sensorData">
  <div>Id: {{ id }}</div>
  <div>Date: {{ date }}</div>
  <div>Name: {{ name }}</div>
  <div>temp: {{ temp }}</div>
  <div>------------------------------------</div>
</p>

<script src="/js/socket.js"></script>
