<p class="sensorData">
{{# each items.data }}

        <div>Id: {{ this._id }}</div>
        <div>Date: {{ this.date }}</div>
        <div>Name: {{ this.name }}</div>
        <div>temp: {{ this.temp }}</div>
        <div>------------------------------------</div>

{{/each}}
</p>
