<form action="/getData/submit" method="post">
    <div class="input">
        <label for="name">user</label>
        <input type="text" id="name" name="name">
    </div>
    <button type="submit">Sign up</button>
</form>
