
{{>header}}
<link href="/timeline/timeline.css" rel="stylesheet" />
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="content">
          <div class="module">
              <div class="module-head">
                  <h3>Chart</h3>
              </div>
              <div class="module-body">
                <div class="row-fluid">
                  <div id="content">
                    <h1>Timeline (Saira + Chivo Fonts)</h1>
                    <ul class="timeline">
                      <li class="event" data-date="2018 - 10 - 31 , 12.00am">
                        <h3>value exceeded the maximum of <span class="font-value">"20"</span></h3>
                        <p>sensed value is 26</p>
                      </li>
                      <li class="event" data-date="2018 - 10 - 31">
                        <h3>value exceeded the minimum of 15</h3>
                        <p>sensed value is 10</p>
                      </li>
                      <li class="event" data-date="2018 - 10 - 31">
                        <h3>value equal to 30 </h3>
                      </li>
                      <li class="event" data-date="2018 - 10 - 31 , 12.00am">
                        <h3>value between 20 and 50</h3>
                        <p>sensed value is 25</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{{>footer}}

<script>

</script>
<script src="/js/libs/moment.min.js"></script>
